.header {
    background-color: #33C3F0;
}

.frow {
    display: flex; /* equal height of the children */
}

.fcol {
    flex: 1; /* additionally, equal width */
    padding: 1em;
    border: solid;
}

#logo-text {
    padding-left: 30px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}


.dash-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: inherit;
    max-height: 100%;
    max-width: 100%;
    min-width: 70%;
    background: #ffffff;
    overflow: hidden;
    position: static;
    margin: 4px;
    border-radius: 15px;
    border: 1px solid #bbb;
}

.dash-card-half {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: auto;
    max-height: 50%;
    max-width: 50%;
    min-width: 50%;
    background: #ffffff;
    overflow: hidden;
    position: static;
    margin: 4px;
    border-radius: 15px;
    border: 1px solid #bbb;
    float: left;
}

.dash-card-half-right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    height: auto;
    max-height: 50%;
    max-width: 50%;
    min-width: 30%;
    background: #ffffff;
    overflow: hidden;
    position: static;
    margin: 4px;
    border-radius: 15px;
    border: 1px solid #bbb;
}

.dash-card-image {
    flex-grow: 1;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -5px 30px rgba(0, 0, 0, 0.1);
}

.dash-card-title {
    transition: background-color 200ms ease;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 5px;
    color: black;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

.dash-card-content {
    padding: 0px 30px 0px 30px;
    overflow-y: auto;
    text-align: center;

}

.dash-card-date {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.dash-card-video-con {
    flex-grow: 1;
    overflow: hidden;
}

.dash-card-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

